:root{
  --background-light: #ffffff;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'NB International Pro', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  align-items: flex-start;
 /* background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%); */
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.esecard-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .esecard-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .esecard-grid{
    grid-template-columns: repeat(3, 1fr); 
  }
}

.esecard{
  list-style: none;
  position: relative;
}

.esecard:before{
  content: '';
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

.esecard__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(1) saturate(1.2) contrast(1);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.esecard:hover .esecard__background{
  transform: scale(1.05) translateZ(0);
  filter: brightness(0.9) saturate(1) contrast(1);
}

.esecard-grid:hover > .esecard:not(:hover) .esecard__background{
  filter: brightness(1.5) saturate(1) contrast(1.2) blur(20px);
}


.esecard__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 25%;
}

.esecard__category{
  color: #eaebec;
  font-size: 1rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
  font-weight:bold;
}

.esecard__heading{
  color: #ffffff;
  font-size: 2.5rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.9);
  line-height: auto;
  word-spacing: 100vw;
  font-weight:bold;
}
.esecard:hover > .esecard__heading{
    transform: scale(1.05) translateZ(0);
}
.esecard:hover > .more{
  visibiility: visible;
}
.more{
  margin-top:3rem;
  font-size:1.2rem;
  color:#ffffff;
  visibility:hidden;
} 
.more img{
  width:15px;
  height:15px;
  filter: brightness(2.0)
}
  
